@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #FAD2AA, #FFF4E8);
}

main {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 5px 5px 15px #a09793d8;
    width: 600px; /* largura */
    padding: 10px; /* acolchoamento */
    margin: auto;
}
h1 {
    text-align: center;
    color: #cc603b;
    text-shadow: 1px 1px 2px #70332188;
}
h1:hover {
    color: #7a3a25 ;
}
h2 {
    color: #6E625E;    
}
p {
    text-align: justify;
}

